{% extends "AirBlogBundle::base.html.twig" %}

{% block pageTitle %}O autorze{% endblock %}

{% block contentTitle %}O autorze{% endblock %}

{% block content %}
<div class="left-side">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo quam felis. Fusce vitae faucibus purus. Integer porta maximus felis, accumsan porta est. Proin nisl lectus, pellentesque eget orci nec, lacinia rutrum ligula. Nulla posuere mauris eu purus pharetra fringilla. Nam lacinia nunc ac leo mollis, quis accumsan purus efficitur. Nam orci dui, sollicitudin vitae blandit nec, blandit eu dui. Morbi et orci mollis, cursus mauris ac, tristique nibh.</p>
    <p>Quisque elementum, orci non finibus porta, arcu mi iaculis lacus, cursus suscipit diam magna ac lacus. Quisque porta dictum sem a vestibulum. Pellentesque porttitor eget ex vel commodo. Fusce ornare iaculis orci, ac dictum tortor ultricies et. Sed pretium urna vitae nibh luctus, porta pharetra justo pellentesque. Curabitur tincidunt ligula lectus, ac bibendum metus ultrices quis. Ut eu libero vitae felis lacinia malesuada. Etiam dolor justo, faucibus eget dictum eu, ultrices vestibulum ligula. Aliquam eu risus eget augue volutpat consectetur nec vel sapien. Sed ac nisi at tellus rhoncus posuere. In metus ipsum, tempus et gravida at, gravida sed urna.</p>

</div> <!-- .left-side -->
{% endblock %}