{% extends "CommonUserBundle:Email:base.html.twig" %}

{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        Twoje nowe hasło to: <span style="font-weight: bold">{{ plainPassword }}</span>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}